# Created by https://www.gitignore.io

### Ansible
*.retry

### Vagrant ###
.vagrant/


### Composer ###
composer.phar
vendor/

### Ansible Roles ###
provisioning/roles/geerling*
provisioning/roles/iambryancs*
provisioning/roles/sbaerlo*

